*, .rpt_plans .rpt_plan, ::after, ::before {
    box-sizing: border-box
}

.btn-help, .btn-help:active, .btn-help:hover, .btn-save, .btn-save-sticky a, .icon:after, i {
    color: #fff
}

body, i {
    -webkit-font-smoothing: antialiased
}

.main .channels-selected__item .btn-cancel:focus, .main .channels-selected__item.disabled .btn-cancel:focus, .main .channels-selected__item.disabled input:focus, button:focus, input:focus {
    outline: 0
}

.easy-modal ul, .upgrade-block ul {
    list-style-image: url(../images/icon-check-purple.svg);
    columns: 2
}

.btn-red, .link-back {
    text-decoration: none
}

.btn-file, .kv-file-content, .preview .page, .switch-preview {
    overflow: hidden
}

@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.ttf?qh3c2u) format('truetype'), url(../fonts/icomoon.woff?qh3c2u) format('woff'), url(../fonts/icomoon.svg?qh3c2u#icomoon) format('svg');
    font-weight: 400;
    font-style: normal
}

i {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale
}

.easy-modal__bottom, .plan_date, body, button, input {
    font-family: Rubik, sans-serif
}

.icon-chat-base:before {
    content: "\e901"
}

.icon-chat-db:before {
    content: "\e903"
}

.icon-chat-bubble:before {
    content: "\e900"
}

.icon-chat-smile:before {
    content: "\e904"
}

.icon-upload:before {
    content: "\e902"
}

.icon-phone:before {
    content: "\f095"
}

.icon-whatsapp:before {
    content: "\f232"
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0
}

.container, .ml-auto {
    margin-left: auto
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.text-center {
    text-align: center
}

.text-primary {
    /* //! color: #4ec1c4 */
}

.align-top {
    align-self: flex-start
}

.custom-control {
    display: inline-block;
    color: #5d5c5c;
    margin-bottom: 0;
    cursor: pointer;
    min-height: 22px;
    line-height: 22px;
    padding-left: 20px;
    position: relative
}

.custom-control .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.custom-control .custom-control-input.js-upload:disabled ~ .custom-control-label::before {
    background: rgba(0, 0, 0, .1)
}

.custom-control .custom-control-input:disabled ~ i {
    opacity: .5
}

.custom-control + .custom-control {
    margin-left: 16px
}

.custom-control.custom-checkbox .custom-control-label {
    position: static
}

.custom-control.custom-checkbox .custom-control-label::before {
    content: '';
    transition: all .2s;
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    border-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px
}

.color-picker-btn, .custom-control.custom-radio .custom-control-label::before {
    -webkit-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1)
}

.custom-control.custom-checkbox .custom-control-label::after {
    display: none
}

.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-image: url(../images/icon-check.svg);
    background-color: transparent
}

.custom-control.custom-radio {
    padding-left: 27px
}

.custom-control.custom-radio .custom-control-label {
    position: static
}

.custom-control.custom-radio .custom-control-label::before {
    content: '';
    transition: all .2s;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 22px;
    height: 22px;
    background-color: #FFF;
    box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    border-radius: 50%;
    border: 5px solid #fff
}

.custom-control.custom-radio .custom-control-label::after {
    display: none
}

.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background: #4ec1c4
}

.position-pro {
    background: rgba(168, 134, 205, .1);
    border-radius: 4px;
    display: flex;
    padding: 6px 0;
    transition: all .2s;
    margin-top: 11px;
    flex-wrap: wrap
}

.position-pro > div {
    flex: 0 0 auto;
    padding: 6px 15px
}

.position-pro > div > label:first-child {
    display: block;
    margin-bottom: 10px
}

.position-pro > div .custom-control-group {
    background: #FFF;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 34px
}

.position-pro > div .custom-control-group .custom-control {
    width: 75px;
    padding: 0;
    margin: 0 !important
}

.position-pro > div .custom-control-group .custom-control .custom-control-label {
    width: 100%;
    color: #E0E0E0;
    height: 34px;
    display: flex;
    align-items: center;
    padding: 6px 7px
}

.position-pro > div .custom-control-group .custom-control .custom-control-label:before {
    content: none
}

.position-pro > div .custom-control-group .custom-control .custom-control-input:checked + .custom-control-label {
    color: #4ec1c4;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .08)
}

.position-pro > div .custom-control-group .custom-control .custom-control-input:checked + .custom-control-label path {
    fill: #4ec1c4
}

.icon:not(.active):not(:hover) .color-element, .main .channels-icons > .icon:not(.active):not(:hover) .color-element {
    fill: #BDBDBD
}

.position-pro > div .custom-control-group .custom-control:first-child .custom-control-label {
    border-radius: 5px 0 0 5px;
    text-align: left
}

.position-pro > div .custom-control-group .custom-control:first-child .custom-control-label svg {
    margin-right: 5px
}

.position-pro > div .custom-control-group .custom-control:last-child .custom-control-label {
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: flex-end
}

.position-pro > div .custom-control-group .custom-control:last-child .custom-control-label svg {
    margin-left: 5px
}

.btn-red, .color-picker .color-picker-radio label + label {
    margin-left: 12px
}

.position-pro input {
    background: #FFF;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    border-radius: 5px;
    border: 0;
    line-height: 24px;
    padding: 5px 7px;
    width: 60px;
    margin-right: 3px
}

.color-picker {
    background: #FFF;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    border-radius: 4px;
    width: 330px;
    display: none;
    position: relative
}

.color-picker .color-picker-radio {
    display: flex;
    padding: 6px 8px 10px;
    border-bottom: 1px solid rgba(130, 130, 130, .1)
}

.color-picker .color-picker-radio label {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: relative;
    cursor: pointer;
    font-size: 0
}

.color-picker .color-picker-radio label span {
    display: block;
    width: 28px;
    height: 28px;
    vertical-align: top;
    opacity: 0;
    transition: all .2s;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/icon-check-white.svg)
}

.color-picker .color-picker-radio label input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.color-picker .color-picker-radio label input:checked + span {
    opacity: 1
}

.btn-help span, .color-picker .color-picker-custom a {
    margin-left: 5px
}

.color-picker .color-picker-custom {
    padding: 10px 8px 16px
}

.color-picker .color-picker-custom > div {
    display: flex;
    align-items: center
}

.color-picker .color-picker-custom > div + div {
    margin-top: 10px
}

.color-picker .color-picker-custom .circle {
    color: #FF6376;
    background: #FFF;
    border: 1px solid #D0D0D0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 3px;
    font-size: 14px
}

a, a:focus {
    /* //! color: #4ec1c4 */
}

body, button {
    font-size: 17px
}

.color-picker .color-picker-custom input {
    background: #FFF;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
    border-radius: 5px;
    border: 0;
    line-height: 24px;
    padding: 5px 7px;
    height: 34px;
    width: 180px
}

.color-picker-btn {
    background-color: #FFF;
    box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    border-radius: 4px;
    border: 0;
    padding: 6px 8px;
    line-height: 17px
}

.color-picker-btn .circle {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 1px 4px 1px 0
}

.color-picker-btn svg {
    transition: all .2s;
    margin-left: 8px
}

.color-picker-btn-close {
    background-color: transparent;
    border: 0;
    padding: 5px;
    line-height: 17px;
    position: absolute;
    right: 0;
    top: 0
}

.color-picker-btn-close svg {
    transform: rotate(180deg)
}

.switch {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    flex: 0 0 auto
}

.switch input[type=checkbox] {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 0;
    height: 0
}

.switch input[type=checkbox]:checked + .switch__styled {
    background: #4ec1c4;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(234, 234, 234, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(234, 234, 234, 1);
    box-shadow: 0px 0px 15px 0px rgba(234, 234, 234, 1);
}

.switch input[type=checkbox]:checked + .switch__styled:after {
    left: 40px;
    background: #fff
}

.form-group .switch {
    height: 42px
}

.switch__styled {
    background: linear-gradient(283.61deg, #F6F6F6 7.4%, #fff 91.67%), #fff;
    margin: 0 8px;
    display: inline-block;
    height: 34px;
    width: 72px;
    border-radius: 17px;
    position: relative;
    transition: all .2s;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(234, 234, 234, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(234, 234, 234, 1);
    box-shadow: 0px 0px 15px 0px rgba(234, 234, 234, 1);
    background: #cfbde4;
}

.switch__styled:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    transition: all .2s;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(234, 234, 234, 1) inset;
    -moz-box-shadow: 0px 0px 15px 0px rgba(234, 234, 234, 1) inset;
    box-shadow: 0px 0px 15px 0px rgba(234, 234, 234, 1) inset;
}

.switch.custom-switch {
    margin-right: auto;
    margin-left: 30px
}

.switch.custom-switch .switch__styled {
    background: linear-gradient(283.61deg, #F6F6F6 7.4%, #fff 91.67%), #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .15)
}

/* //! body {
    height: auto;
    background-image: url(../images/bg.svg);
    background-position: 155px 30px;
    background-repeat: no-repeat;
    background-size: calc(100% - 150px) auto;
    background-attachment: fixed;
    color: #4F4F4F;
    padding-bottom: 50px;
    margin: 0
} */

button {
    cursor: pointer
}

button#collapse-button {
    font-size: 13px
}

input {
    font-size: 17px
}

#cht-form input[type=submit] {
    opacity: 0;
    position: absolute
}

a:focus {
    box-shadow: none
}

::-webkit-input-placeholder {
    color: #E0E0E0
}

::-moz-placeholder {
    color: #E0E0E0
}

:-ms-input-placeholder {
    color: #E0E0E0
}

:-moz-placeholder {
    color: #E0E0E0
}

.section {
    padding: 30px 15px;
    position: relative
}

.section + .section {
    border-top: 2px solid rgba(130, 130, 130, .1)
}

.section.one {
    max-width: 680px
}

.section-title {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    color: #000;
    line-height: 44px;
    margin-bottom: 30px;
    font-weight: 400;
    margin-top: 0;
    display: flex
}

.section-title strong {
    margin: 0 14px 0 0;
    text-align: right;
    font-weight: 700
}

/* //! .main {
    background-color: #fff;
    border-radius: 9px;
    position: relative
} */

.main .channels-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 20px
}

.main .channels-icons > .icon {
    padding: 0 8px;
    margin-bottom: 16px
}

.main .channels-icons > .icon .color-element {
    transition: all .2s
}

.main .channels-icons > .icon:not(.active) svg {
    cursor: pointer
}

.main .channels-selected {
    padding-top: 20px;
    position: relative;
    min-height: 220px
}

.main .channels-selected__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.main .channels-selected__item .icon {
    margin-right: 10px;
    cursor: pointer;
    width: 50px;
    /* background: #49E670; */
    border-radius: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.main .channels-selected__item .icon > i {
    font-size: 30px;
    line-height: 50px
}

.main .channels-selected__item .btn-cancel {
    position: absolute;
    right: -15px;
    top: -15px;
    transform: translate(50%, -50%);
    background: linear-gradient(0deg, #333, #333), linear-gradient(153.18deg, #6371DB 7.07%, #FF89C4 90.47%);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    z-index: 1;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
    cursor: pointer;
}

.main .channels-selected__item .input-example {
    font-size: 13px;
    padding-top: 0px;
    line-height: 14px;
    color: #444;
    opacity: .8;
    position: absolute;
    left: calc(50px + 16px + 7px);
    top: 50px;
}

.main .channels-selected__item.disabled .icon {
    cursor: default
}

.main .channels-selected__item.disabled .icon .color-element {
    fill: #E9E9E9
}

.main .channels-selected__item.disabled input {
    box-shadow: 0 4px 14px rgba(179, 179, 179, .15);
    color: #E9E9E9
}

.main .channels-selected__item.disabled input::-webkit-input-placeholder {
    color: #E9E9E9
}

.main .channels-selected__item.disabled input::-moz-placeholder {
    color: #E9E9E9
}

.main .channels-selected__item.disabled input:-ms-input-placeholder {
    color: #E9E9E9
}

.main .channels-selected__item.disabled input:-moz-placeholder {
    color: #E9E9E9
}

.main .channels-selected__item.disabled .btn-cancel {
    cursor: default;
    background: linear-gradient(0deg, #CFCFCF, #CFCFCF), linear-gradient(153.18deg, #6371DB 7.07%, #FF89C4 90.47%)
}

.btn-help, .btn-save-sticky, .channels__view, .icon:not(.active) svg {
    cursor: pointer
}

.main .channels-selected__item.disabled .input-example {
    color: #E9E9E9
}

.main #positionPro {
    margin-left: -122px
}

.main .form-horizontal__item {
    display: flex;
    flex-wrap: wrap
}

.main .form-horizontal__item + .form-horizontal__item {
    margin-top: 30px
}

.main .form-horizontal__item-label {
    flex: 0 0 122px;
    margin: 0 14px 0 0;
    text-align: right;
    font-weight: 700
}

.header, .main .form-horizontal__item.flex-center {
    align-items: center
}

.main .form-horizontal__item > div > input {
    background: #FFF;
    -webkit-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    border-radius: 5px;
    border: 0;
    line-height: 24px;
    padding: 5px 7px
}

.main .form-horizontal__item > div > input.widget-size__input {
    width: 47px;
    height: 34px;
    text-align: center
}

.icon {
    border-radius: 50%;
    vertical-align: top;
    font-size: 0;
    position: relative
}

.icon:after, .icon:before {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    left: 50%
}

.icon:after {
    text-align: center;
    content: "" attr(data-title) "";
    font-size: 11px;
    top: 0;
    transform: translate(-50%, calc(-100% - 6px));
    padding: 0 20px;
    line-height: 23px;
    min-width: 90px;
    white-space: nowrap;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    border-radius: 6px
}

.btn-save:after, .icon:before, .popover:after {
    content: ''
}

.icon:before {
    top: -8px;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    border-width: 10px 5px 0;
    border-style: solid;
    border-color: #333 transparent transparent
}

.icon.tooltip-show:after, .icon.tooltip-show:before, .icon:hover:not(.tooltip-show):after, .icon:hover:not(.tooltip-show):before {
    opacity: 1;
    pointer-events: auto
}

.chaty-help-form, .disabled {
    pointer-events: none
}

.icon .color-element {
    transition: all .2s
}

.icon.no-tooltip:after, .icon.no-tooltip:before {
    content: none !important
}

.icon.icon-md svg, .icon.icon-sm svg {
    width: 50px;
    height: 50px;
    cursor: move;
}

.icon.icon-xs svg {
    width: 30px;
    height: 30px
}

.btn-save {
    border: 0;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    max-width: 100%;
    margin-top: 40px;
    height: 50px;
    width: 274px;
    border-radius: 25px;
    padding: 14px 15px 12px;
    /* //! background-image: url(../images/rocket.svg); */
    background-color: #4ec1c4;
    background-position: left bottom;
    background-repeat: no-repeat;
    box-shadow: none; /* //! */
}

/* //! .btn-save:after {
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 238.1px;
    height: 30.81px;
    background: linear-gradient(97.71deg, #4ec1c4 9.04%, #FF6376 91.56%), linear-gradient(104.36deg, #6371DB 20.37%, #FF89C4 72.52%);
    opacity: .77;
    filter: blur(19px);
    border-radius: 9px
} */

.btn-help {
    text-align: center;
    padding-top: 10px;
    position: absolute;
    background: #03e78b;
    border-radius: 7px 7px 0 0;
    right: 0;
    top: 60px;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    border: 0;
    height: 42px;
    width: 102px;
    text-transform: uppercase;
    font-weight: 700
}

.btn-help span {
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 2px solid #fff;
    border-radius: 100%
}

@media (min-width: 1280px) {
    .btn-help {
        transform: rotate(90deg);
        position: fixed;
        left: calc(50vw - 480px + 1050px / 12 * 7 + 373px);
        top: 306px;
        right: auto
    }
}

.btn-save-sticky {
    padding: 10px 0 11px;
    top: 20px;
    background: #4ec1c4;
    right: 0;
    border-radius: 7px 0 0 7px;
    position: absolute;
    border: 0;
    height: 69px;
    width: 42px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 11px
}

.btn-save-sticky span {
    text-align: center;
    display: inline-block;
    margin-bottom: 4px;
    height: 15px;
    line-height: 13px
}

@media (min-width: 1280px) {
    .btn-save-sticky {
        left: calc(50vw - 480px + 1050px / 12 * 7 + 475px);
        top: 161px;
        right: auto;
        border-radius: 0 7px 7px 0;
        position: fixed
    }

    html[dir=rtl] .btn-save-sticky {
        left: calc(50vw - 480px + 1050px / 12 * 7 + 295px)
    }

    html[dir=rtl] .btn-help {
        left: calc(50vw - 480px + 1050px / 12 * 7 + 193px)
    }
}

.popover {
    flex: 0 0 auto;
    background: #FFF;
    border-radius: 4px;
    line-height: 33px;
    padding: 0 5px;
    position: relative;
    margin: 25px 25px 25px 0;
    box-shadow: 0 1px 14px rgba(156, 117, 198, .4), 0 2px 4px rgba(0, 0, 0, .15);
    text-align: center;
}

.popover:after {
    position: absolute;
    top: -7px;
    left: 40px;
    width: 20px;
    height: 7px;
    background-image: url(../images/arrow.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;

}

.easy-modal {
    display: none;
    width: 515px;
    max-width: calc(100vw - 30px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .15);
    border-radius: 6px;
    background-color: #fff;
    top: 50% !important;
    transform: translateY(-50%)
}

.easy-modal .money-guaranteed svg, .upgrade-block .money-guaranteed svg {
    width: 15px;
    vertical-align: text-bottom
}

.easy-modal .money-guaranteed {
    color: #4ec1c4;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 20px
}

.easy-modal .easy-modal-inner {
    position: relative;
    padding: 20px 50px
}

.easy-modal .easy-modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px;
    line-height: 12px;
    background-color: transparent;
    border: 0
}

.easy-modal h2 {
    font-family: Rubik;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 13px;
    text-align: center;
    margin-top: 0
}

.easy-modal .udner-title {
    font-size: 17px
}

.easy-modal .udner-title span {
    font-size: 15px;
    display: block;
    color: #bdbdbd
}

.easy-modal p {
    text-align: center;
    margin: 0 auto 10px
}

.easy-modal ul {
    margin-bottom: 17px;
    line-height: 27px;
    list-style-position: inside;
    text-align: left
}

.easy-modal .easy-modal-link {
    font-size: 15px;
    text-decoration-line: underline;
    color: #828282;
    display: inline-block;
    margin-top: 7px
}

.easy-modal .form-horizontal__item {
    margin-bottom: 50px;
    justify-content: center;
    text-align: center
}

.easy-modal .user-name, .easy-modal .user-role {
    margin: 0;
    font-size: 13px
}

.easy-modal .form-horizontal__item > div {
    flex: 0 0 auto
}

.easy-modal .user-name {
    font-weight: 700;
    color: #828282;
    text-align: left
}

.link-back, .link-back:hover {
    color: #fff
}

.easy-modal .user-photo {
    float: left;
    margin-right: 5px
}

.link-back {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 60px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    padding: 7px 46px
}

.upgrade-wrap {
    margin: 15px auto;
    max-width: 1024px;
}

.upgrade-block {
    background-color: #fff;
    border-radius: 9px;
    padding: 48px 0 67px;
    margin-top: 21px
}

.upgrade-block .easy-modal-inner {
    margin: 0 auto;
    direction: ltr !important;
    padding: 0 30px;
    max-width: 1024px
}

.upgrade-block h2 {
    font-family: Rubik;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 0;
    line-height: 33px
}

.upgrade-block .udner-title {
    font-size: 17px
}

.upgrade-block .udner-title span {
    font-size: 15px;
    display: block;
    color: #bdbdbd
}

.form-horizontal__item .chaty-widget .icon, .upgrade-block ul {
    display: inline-block
}

.upgrade-block p {
    text-align: center;
    margin: 0 auto 10px
}

.upgrade-block ul {
    margin-bottom: 17px;
    line-height: 27px;
    list-style-position: inside;
    text-align: left
}

.upgrade-block .easy-modal-link {
    font-size: 15px;
    text-decoration-line: underline;
    color: #828282;
    display: inline-block;
    margin-top: 7px
}

.upgrade-block .form-horizontal__item {
    margin-bottom: 50px;
    justify-content: center;
    text-align: center
}
img.payment-img {
    margin: 10px 0;
}
.upgrade-block .form-horizontal__item > div {
    flex: 0 0 auto
}

.upgrade-block .user-name {
    font-weight: 700;
    color: #828282;
    margin: 0;
    text-align: left;
    font-size: 13px
}

.upgrade-block .user-role {
    margin: 0;
    font-size: 13px
}

.upgrade-block .user-photo {
    float: left;
    margin-right: 5px
}

.upgrade-block .money-guaranteed {
    color: #b97fcf;
    font-size: 16px;
    line-height: 18px;
    margin: 10px 0;
}

.upgrade-block .money-guaranteed span.dashicons.dashicons-yes {
    background: #00bd00;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.easy-modal.modal-upgrade {
    width: 560px
}

.easy-modal.modal-upgrade .easy-modal-inner {
    padding: 20px 0 0
}

.modal__wrap {
    padding: 0 5px;
    text-align: center
}

.form-horizontal__item .chaty-widget {
    position: static;
    flex: 0 0 250px !important
}

.form-horizontal__item .chaty-widget .icon svg {
    width: 62px;
    height: 62px
}

.form-horizontal__item .chaty-widget .icon:after {
    z-index: 10;
    content: "" attr(data-title) "";
    font-size: 17px;
    left: 0;
    top: 50%;
    transform: translate(calc(-100% - 6px), -50%);
    white-space: nowrap;
    padding: 16px 25px;
    line-height: 21px;
    width: auto;
    color: #333;
    background-color: #fff;
    box-shadow: 0 1.93px 7.74px rgba(0, 0, 0, .15);
    border-radius: 10px
}

#toplevel_page_chaty-app img, .btn-red:hover, .text_update {
    color: #fff
}

.form-horizontal__item .chaty-widget .icon:before {
    content: '';
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    z-index: 11;
    border-width: 5px 0 5px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff
}

.btn-red, .btn-white {
    z-index: 100;
    line-height: 27px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .11);
    vertical-align: top;
    position: relative;
    color: #fff
}

.btn-red:hover, .btn-red:focus {
    color: #fff
}

.form-horizontal__item .chaty-widget.chaty-widget-icons-right .icon:before {
    right: -8px;
    left: auto;
    border-width: 5px 10px 5px 0;
    border-color: transparent #fff transparent transparent
}

.form-horizontal__item .chaty-widget.chaty-widget-icons-right .icon:after {
    right: 0;
    left: auto;
    transform: translate(calc(100% + 6px), -50%)
}

.header {
    display: flex;
    padding: 3px 0;
    margin-bottom: 9px
}

.btn-red, .tooltip {
    display: inline-block
}

.btn-white {
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 4px 20px;
    border-radius: 19px
}

.btn-red {
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #4ec1c4;
    padding: 6px 20px 4px;
    border-radius: 19px
}

.btn-red svg {
    vertical-align: text-top;
    margin-left: 5px
}

.text_update {
    top: 2px;
    position: relative;
    margin: 0;
    font-size: 10px;
    left: 15px
}

.sticky-wrapper {
    position: absolute;
    right: 0;
    top: -370px;
    width: calc(320px);
    z-index: 99
}

.tooltip {
    position: relative
}

.chaty-widget-icons-left .tooltip .tooltiptext, .chaty-widget-icons-right .tooltip .tooltiptext {
    white-space: pre-wrap;
    display: flex;
    width: 120px;
    min-height: 36px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 0 11px;
    top: 0;
    position: absolute;
    z-index: 35;
    font-size: 12px;
    line-height: 17px
}

.tooltip:hover .tooltiptext {
    visibility: visible
}

.chaty-widget-icons-right .tooltip .tooltiptext {
    justify-content: center;
    align-items: center;
    right: 41px
}

.mobiel-view .chaty-widget-icons-right .tooltip .tooltiptext {
    right: 35px
}

.chaty-widget-icons-left .tooltip .tooltiptext {
    align-items: center;
    justify-content: center;
    left: 43px
}

.mobiel-view .chaty-widget-icons-left .tooltip .tooltiptext {
    left: 37px
}

.update-nag {
    display: block !important
}

.notice, div.error, div.updated {
    display: none !important
}

div#setting-error-settings_updated {
    display: block !important
}

.domain__input, .domain__label {
    max-width: 342px;
    display: block
}

.domain {
    background: rgba(168, 134, 205, .1);
    border-radius: 4px;
    text-align: left;
    margin: 0 0 10px;
    padding: 10px 20px
}

.domain__label {
    font-size: 17px;
    font-weight: 700;
    margin: 0 auto 6px
}

.domain__input {
    height: 34px;
    background: #FFF;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
    border-radius: 5px;
    border: none;
    width: 100%;
    margin: 0 auto
}

.upg {
    background: 0 0;
    border: none;
    text-align: center;
    width: 270px;
    padding: 0
}

.upg img, .upg svg {
    width: 100%
}

.valid_domain {
    transition-property: margin-top;
    transition-delay: .3s;
    color: red;
    display: none
}

.payments {
    margin-bottom: 5px
}

.easy-modal__bottom {
    padding: 10px 10px 0;
    text-align: left;
    color: #828282;
    position: relative
}

.easy-modal__bottom .quote {
    position: absolute;
    left: 65px;
    top: -4px
}

.easy-modal__bottom:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(130, 130, 130, .1);
    height: 2px
}

.easy-modal__bottom .easy-modal__bottom-p {
    text-align: left;
    font-weight: 300;
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px
}

.easy-modal__bottom .easy-modal__bottom-p p {
    text-align: left;
    margin: 6px 0 0;
    line-height: 15px
}

.plan_date {
    color: #fff;
    font-size: 16px;
    opacity: .9
}

html[dir=rtl] body {
    background-position: 0
}

html[dir=rtl] input[type=radio]:checked:before {
    text-indent: -1px
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }

    .modal__wrap {
        padding: 0
    }

    .domain {
        margin: 0 0 10px;
        padding: 20px 60px 26px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1070px
    }
}

@media (max-width: 767px) {
    .position-pro > div {
        flex: 0 0 100%
    }

    .main .channels-icons {
        max-width: 95%
    }

    .main .channels-selected__item {
        max-width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px
    }

    .main .form-horizontal__item {
        flex-wrap: wrap
    }

    .main .form-horizontal__item > label {
        flex: 0 0 100%;
        margin-bottom: 10px;
        text-align: left
    }

    .main .form-horizontal__item .custom-switch {
        flex: 0 0 auto;
        margin: 10px auto
    }

    .main .form-horizontal__item > div {
        flex: 0 0 100%
    }

    .main .form-horizontal__item > div .custom-control {
        margin: 0 10px 10px 0
    }

    .main .form-horizontal__item > div .custom-control:last-child {
        margin-right: 0
    }

    body {
        background-position: center top;
        background-size: cover;
        background-attachment: fixed
    }

    .section {
        padding: 30px 15px
    }

    .col-12 {
        flex: 0 0 auto
    }

    .popover {
        margin-left: 0;
        white-space: normal;
        max-width: 100%
    }

    .header {
        flex-wrap: wrap
    }

    .header img {
        flex: 0 0 100%;
        margin-bottom: 10px
    }

    .header .ml-auto {
        margin: 0 auto;
        text-align: center
    }

    .header .ml-auto button {
        margin: 5px 6px
    }
}

@media (max-width: 991px) {
    .form-horizontal {
        left: 0 !important
    }

    body {
        background-position: 30px 30px;
        background-repeat: no-repeat;
        background-size: calc(100% - 20px) auto
    }

    .section {
        padding: 30px
    }

    .main .channels-selected__item .input-example {
        left: 0;
        top: 40px;
        position: static;
        width: 100%
    }

    .main .channels-selected__item .icon {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        margin-bottom: 5px
    }

    .main .channels-selected__item .icon > i {
        font-size: 25px;
        line-height: 40px
    }

    .main .channels__input {
        width: 190px
    }

    .main .channels__input-box {
        margin-right: 5px;
        margin-bottom: 5px
    }
}

@media screen and (max-width: 782px) {
    #sticky-wrapper {
        display: none
    }

    .test_textarea {
        width: 250px
    }
}

.channels__view {
    display: inline-block;
    color: #444444;
    margin-bottom: 0;
    line-height: 14px;
    padding-left: 17px;
    position: relative;
    font-size: 14px;
    margin-left: 15px;
}

.channels__view-check {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.channels__view-check:checked ~ .channels__view-txt::before {
    background: #a785cb;
    color: #fff;
}
.channels__view-check:checked ~ .channels__view-txt::after {
    color: #fff;
    content: "\f147";
    font-family: dashicons;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.channels__view-txt:before {
    content: '';
    transition: all .2s;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    border: solid 2px #a785cb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.file-input, .widget-icon__block .custom-control.custom-radio .custom-control-label {
    position: relative
}

.channels__input {
    padding: 9px 7px;
    border: 0;
    line-height: 24px;
    background: #FFF;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .15);
    border-radius: 9px;
    width: 330px;
}

.channels__input-box {
    position: relative;
    margin-right: 5px
}

.widget-icon__block [class^=icon-] {
    display: block;
    border-radius: 100%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin: 0 auto 6px
}

.widget-icon__block [class^=icon-] svg {
    color: #fff
}

.widget-icon__block .icon-upload {
    background: 0 0;
    color: #4ec1c4
}

.widget-icon__block .custom-control.custom-radio {
    text-align: center;
    margin: 0;
    padding: 22px 8px 62px;
    text-decoration: none;
    vertical-align: top;
    display: inline-block
}

.widget-icon__block .custom-control.custom-radio .custom-control-label:before {
    transform: translateX(-50%);
    left: 50%
}

.widget-icon__block .custom-control.custom-radio:first-child {
    border-right: 1px solid #fff
}

.widget-icon__wrap {
    background: rgba(168, 134, 205, .1);
    padding: 0;
    border-radius: 4px;
    flex: none;
    font-size: 0;
    margin-bottom: 25px;
    position: relative
}

@media (min-width: 768px) {
    .widget-icon__block [class^=icon-] {
        width: 54px;
        height: 54px;
        font-size: 28px;
        line-height: 54px
    }

    .widget-icon__block [class^=icon-] svg {
        width: 100%
    }

    .widget-icon__block .custom-control.custom-radio:first-child {
        padding-left: 20px
    }

    .widget-icon__block .custom-control.custom-radio:last-child {
        padding-right: 20px
    }
}

@media (max-width: 767px) {
    .main .form-horizontal__item > .widget-icon__wrap {
        display: flex;
        justify-content: space-between
    }

    .main .form-horizontal__item > .widget-icon__wrap .custom-control {
        margin: 0;
        flex: 1;
        text-align: center
    }
}

.file-input {
    width: 40px;
    height: 44px;
    display: block
}

.file-input input[type=file] {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: 0 0;
    cursor: pointer;
    display: block;
    position: absolute
}

.btn-file, .form-group, .kv-file-content {
    position: relative
}

.form-group:hover :not(.file-input-new) .file-browse {
    display: block;
    z-index: 10
}

.file-actions, .file-browse, .file-browse span, .file-drop-zone-title, .file-footer-caption, .file-preview-status {
    display: none
}

.form-group:hover :not(.file-input-new) .file-browse .icon-upload {
    background: rgba(0, 0, 0, .5)
}

.kv-file-content {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto
}

.kv-file-content img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%
}

.file-preview {
    position: absolute
}

.file-preview-thumbnails {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.file-preview-frame {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10
}

.file-preview-frame.file-preview-initial {
    z-index: 0
}

.file-input-new .file-browse {
    display: block
}

.file-input-new .file-browse span {
    display: block;
    color: #4ec1c4;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.file-input-new .file-browse:hover span, a.pro-plugin-url, a.rpt_tooltip {
    text-decoration: none
}

@media (min-width: 768px) {
    .kv-file-content {
        width: 54px;
        height: 54px
    }

    .file-input {
        width: 54px;
        height: 60px
    }
}

.preview {
    width: 337px;
    z-index: 99;
    height: 373px;
    margin-right: 15px;
    float: right
}

.preview.mobiel-view .page {
    width: 152px
}

.preview.mobiel-view .page .chaty-widget .icon i {
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px
}

.is-sticky .preview {
    left: calc(50vw - 480px + 960px / 12 * 7 + 140px)
}

.preview h2 {
    text-align: center;
    font-weight: 700;
    line-height: normal;
    font-size: 17px;
    color: #4F4F4F;
    margin-bottom: 5px
}

.preview .page {
    background-color: #F2F2F2;
    box-shadow: 0 4px 35px rgba(0, 0, 0, .05);
    border-radius: 5px;
    position: relative;
    height: 194px;
    margin: 0 auto
}

.preview .page .page-header {
    display: flex;
    align-items: center;
    background: #FFF;
    border-radius: 5px 5px 0 0;
    height: 16px
}

.preview .page .page-header .circle {
    margin-left: 9px;
    width: 6px;
    height: 6px;
    background: linear-gradient(153.19deg, #6371DB 7.06%, #FF89C4 90.47%), #FFE663;
    box-shadow: 0 4px 35px rgba(0, 0, 0, .05);
    border-radius: 50%
}

.preview .page .page-header svg:last-child {
    margin-left: auto;
    margin-top: 7px;
    margin-right: -7px
}

.preview .page .chaty-widget {
    position: absolute;
    left: auto
}

.preview .page .chaty-widget .icon:after {
    z-index: 10;
    content: '';
    font-size: 13px;
    top: 13px;
    white-space: nowrap;
    padding: 0;
    line-height: 0;
    width: auto;
    color: #333;
    background-color: #fff;
    box-shadow: 0 1.93px 7.74px rgba(0, 0, 0, .15);
    border-radius: 0;
    right: 0;
    left: auto;
    transform: translate(calc(100% + 6px), -50%)
}

.preview .page .chaty-widget .icon:before {
    content: '';
    right: -13px;
    left: auto;
    top: 15px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    z-index: 11;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #fff transparent transparent
}

.preview .page .chaty-widget .icon i {
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: block;
    border-radius: 100%;
    line-height: 30px;
    text-align: center;
    overflow: hidden
}

.preview .page .chaty-widget .icon i.icon-chat-image {
    background: 0 0
}

.preview .page .chaty-widget .icon i.icon-chat-image img {
    display: block;
    background: #4ec1c4
}

.preview .page .chaty-widget .icon i svg {
    fill: #fff;
    width: 100%;
    height: 100%
}

.preview .page .chaty-widget .icon i img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%
}

.mobiel-view .preview .page .chaty-widget .icon i {
    width: 23px;
    height: 23px;
    font-size: 13px;
    line-height: 23px
}

.preview .page .chaty-widget[style*="left: auto;"] .icon:before {
    right: auto;
    left: -11px;
    border-width: 5px 0 5px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff
}

.preview .page .chaty-widget[style*="left: auto;"] .icon:after {
    left: 0;
    right: auto;
    transform: translate(calc(-100% - 6px), -50%)
}

.switch-preview {
    display: flex;
    width: 160px;
    border-radius: 5px;
    margin: 15px auto 0;
    -webkit-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1) inset;
    -moz-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1) inset;
    box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1) inset;
    background: #fff
}

.easy-modal-open, .switch-preview__input[type=radio], .switch-preview__label input {
    display: none
}

.switch-preview__label {
    flex: 1;
    text-align: center;
    line-height: 30px
}

.switch-preview__input[type=radio]:checked + label {
    background: #4ec1c4;
    color: #fff
}

html[dir=rtl] .preview {
    right: auto
}

html[dir=rtl] .is-sticky .preview {
    left: calc(50vw - 480px + 960px / 12 * 7 + 84px - 175px)
}

@media (max-width: 1200px) {
    .preview {
        display: none
    }
}

a.pro-plugin-url {
    color: #fff;
    background: #7474d9;
    display: inline-block;
    margin-bottom: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    font-size: 24px;
    border-radius: 25px;
    padding: 15px 45px
}

.test_textarea {
    -webkit-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    -moz-box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    box-shadow: 0 0 15px 0 rgba(234, 234, 234, 1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    height: 70px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 364px;
}

.license-key {
    border: 1px solid #ccc;
    background: #FFF;
    width: 100%;
    max-width: 350px;
    margin: 10px 0 20px
}

.license-key .license-key-header {
    border-bottom: 1px solid #ccc;
    padding: 15px 12px;
    font-weight: 600;
    background: #f9f9f9;
    color: #23282d
}

.license-key .license-key-content {
    padding: 15px 12px;
    background: #fff
}

.license-key .license-key-content input[type=text] {
    width: 100%;
    font-size: 14px;
    font-weight: 400
}

.license-key .license-key-footer {
    border-top: 1px solid #ccc;
    padding: 15px 12px;
    background: #f9f9f9
}

.license-key .license-key-message {
    margin: 10px 0 0;
    min-height: 40px
}

.license-key .button-secondary {
    font-weight: 400
}

.testimonial-error-message, .testimonial-success-message {
    background: #fff;
    margin: 10px 0 0;
    padding: 10px;
    border-left: solid 3px #dd4b39
}

.testimonial-success-message {
    border-left: solid 3px #00a65a
}

.save-testimonial-license-key {
    width: 102px;
    text-align: center
}

.remove-testimonial-license-key {
    width: 128px;
    text-align: center
}

.test-error-message {
    color: #dc3232
}

.hide-this-table, .lean-overlay {
    display: none !important
}

span.expired-message {
    color: #a00000;
    font-size: 18px
}

.wrap.wrap-licenses {
    background: #fff;
    padding: 10px 25px 25px
}

.chaty-help-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1001
}

.chaty-help-btn a {
    display: block;
    border: 3px solid #FFF;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative
}

.chaty-help-btn a img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.chaty-help-form {
    position: fixed;
    right: 85px;
    border: 1px solid #e9edf0;
    bottom: 25px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 320px;
    z-index: 1001;
    direction: ltr;
    opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s
}

.chaty-help-form.active {
    opacity: 1;
    pointer-events: inherit
}

.chaty-help-header {
    background: #f4f4f4;
    border-bottom: solid 1px #e9edf0;
    padding: 5px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    text-align: right
}

.chaty-help-header b {
    float: left
}

.chaty-help-content {
    margin-bottom: 10px;
    padding: 20px 20px 10px
}

.chaty-help-form p {
    margin: 0 0 1em
}

.chaty-form-field {
    margin-bottom: 10px
}

.chaty-form-field input, .chaty-form-field textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c5c5c5
}

.chaty-form-field textarea {
    height: 70px
}

.chaty-help-button {
    border: none;
    padding: 8px 0;
    width: 100%;
    background: #4ec1c4;
    color: #fff;
    border-radius: 18px
}

.chaty-help-form .error-message {
    font-weight: 400;
    font-size: 14px
}

.chaty-help-form input.input-error, .chaty-help-form textarea.input-error {
    border-color: #dc3232
}

.chaty-help-btn span.tooltiptext {
    position: absolute;
    background: #000;
    font-size: 12px;
    color: #fff;
    top: -35px;
    width: 140%;
    text-align: center;
    left: -20%;
    border-radius: 5px;
    direction: ltr
}

p.error-p, p.success-p {
    margin: 0;
    font-size: 14px;
    text-align: center
}

.chaty-help-btn span.tooltiptext:after {
    bottom: -9px;
    content: "";
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    border-width: 10px 5px 0;
    border-style: solid;
    border-color: #000 transparent transparent;
    left: 50%;
    position: absolute
}

p.success-p {
    color: green
}

p.error-p {
    color: #dc3232
}

html[dir=rtl] .chaty-help-btn {
    left: 20px;
    right: auto
}

html[dir=rtl] .chaty-help-form {
    left: 85px;
    right: auto
}

.widget-icon__wrap a.upgrade-link {
    display: block;
    font-size: 16px;
    text-align: center;
    padding-left: 93px;
    position: absolute;
    bottom: 0;
    z-index: 10001;
    left: 0;
    margin: 0 auto 12px
}

#rpt_container {
    margin-top: 24px;
    width: 100%
}

.rpt_plans .rpt_plan {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.rpt_2_plans .rpt_plan {
    margin-right: 2%;
    width: 49%;
    float: left
}

.rpt_2_plans .rpt_plan:last-child {
    margin-right: 0
}

.rpt_3_plans .rpt_plan {
    margin-right: 2%;
    width: 32%;
    float: left
}

.rpt_3_plans .rpt_plan:last-child {
    margin-right: 0
}

.rpt_4_plans .rpt_plan {
    margin-right: 1%;
    width: 24.25%;
    float: left
}

.rpt_4_plans .rpt_plan:last-child {
    margin-right: 0
}

.rpt_5_plans .rpt_plan {
    margin-right: .5%;
    width: 19.6%;
    float: left
}

.rpt_5_plans .rpt_plan:last-child {
    margin-right: 0
}

.rpt_style_bic .rpt_plan, .rpt_style_loc .rpt_plan {
    -webkit-box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, .19);
    -moz-box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, .19);
    box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, .19)
}

.rpt_plans .rpt_plan .rpt_title img {
    margin-right: 10px;
    position: relative;
    vertical-align: middle
}

.rpt_plans .rpt_plan .rpt_title {
    background: #6371db;
    font-weight: 300;
    padding: 24px 18px;
    font-size: 26px;
    color: #fff;
    line-height: 35px;
    height: auto
}

.rpt_plans .rpt_plan .rpt_title span {
    display: inline-block;
    position: relative;
    top: -10px
}

.rpt_style_basic .rpt_plan .rpt_title {
    border-bottom: #ec86c6 solid 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.rpt_style_spec .rpt_plan .rpt_title {
    color: #fff
}

.rpt_style_bic .rpt_plan .rpt_title, .rpt_style_loc .rpt_plan .rpt_title, .rpt_style_swl .rpt_plan .rpt_title {
    background: #333
}

.rpt_plans .rpt_sm_title .rpt_plan .rpt_title {
    font-size: 20px;
    line-height: 18px
}

.rpt_plans .rpt_xsm_title .rpt_plan .rpt_title {
    font-size: 15px;
    line-height: 15px
}

.rpt_4_plans .rpt_plan .rpt_title {
    font-size: 17px;
    line-height: 15px
}

.rpt_4_plans .rpt_sm_title .rpt_plan .rpt_title {
    font-size: 15px;
    line-height: 13px
}

.rpt_4_plans .rpt_xsm_title .rpt_plan .rpt_title {
    font-size: 13px;
    line-height: 11px
}

.rpt_5_plans .rpt_plan .rpt_title {
    font-size: 15px;
    line-height: 13px
}

.rpt_5_plans .rpt_sm_title .rpt_plan .rpt_title {
    font-size: 13px;
    line-height: 11px
}

.rpt_5_plans .rpt_xsm_title .rpt_plan .rpt_title {
    font-size: 12px;
    line-height: 10px
}

.rpt_plans .rpt_recommended_plan .rpt_title {
    background: #6371db
}

.rpt_plans .rpt_plan .rpt_head .rpt_price .rpt_currency {
    position: relative;
    top: -44px;
    left: -10px;
    font-size: 35px;
    line-height: 0
}

.rpt_4_plans .rpt_plan .rpt_head .rpt_price .rpt_currency {
    top: -36px
}

.rpt_5_plans .rpt_plan .rpt_head .rpt_price .rpt_currency {
    top: -26px
}

.rpt_sm_price .rpt_plan .rpt_head .rpt_price .rpt_currency {
    font-size: 30px;
    top: -44px;
    left: -4px
}

.rpt_xsm_price .rpt_plan .rpt_head .rpt_price .rpt_currency {
    font-size: 25px;
    top: -30px;
    left: -4px
}

.rpt_xxsm_price .rpt_plan .rpt_head .rpt_price .rpt_currency {
    font-size: 21px;
    top: -14px;
    left: -4px
}

.rpt_style_basic .rpt_plan .rpt_head {
    background: #ec86c6
}

.rpt_style_spec .rpt_plan .rpt_head {
    background: #222
}

.rpt_style_swl .rpt_plan .rpt_head {
    background: #fff
}

.rpt_plans .rpt_plan .rpt_head .rpt_price {
    padding: 6px 10px;
    font-size: 74px;
    line-height: 100px;
    font-weight: 300;
    text-align: center;
    color: #fff
}

.rpt_style_basic .rpt_plan .rpt_head .rpt_price, .rpt_style_spec .rpt_plan .rpt_head .rpt_price {
    text-shadow: 1px 2px 7px rgba(0, 0, 0, .6)
}

.rpt_style_swl .rpt_plan .rpt_head .rpt_price {
    color: #000
}

.rpt_plans .rpt_sm_price .rpt_plan .rpt_head .rpt_price {
    font-size: 62px
}

.rpt_plans .rpt_xsm_price .rpt_plan .rpt_head .rpt_price {
    font-size: 56px
}

.rpt_plans .rpt_xxsm_price .rpt_plan .rpt_head .rpt_price {
    font-size: 38px
}

.rpt_4_plans .rpt_plan .rpt_head .rpt_price {
    font-size: 69px;
    line-height: 80px
}

.rpt_4_plans .rpt_sm_price .rpt_plan .rpt_head .rpt_price {
    font-size: 53px;
    line-height: 65px
}

.rpt_4_plans .rpt_xsm_price .rpt_plan .rpt_head .rpt_price {
    font-size: 47px;
    line-height: 64px
}

.rpt_4_plans .rpt_xxsm_price .rpt_plan .rpt_head .rpt_price {
    font-size: 31px;
    line-height: 60px
}

.rpt_5_plans .rpt_plan .rpt_head .rpt_price {
    font-size: 59px;
    line-height: 80px
}

.rpt_5_plans .rpt_sm_price .rpt_plan .rpt_head .rpt_price {
    font-size: 44px;
    line-height: 60px
}

.rpt_5_plans .rpt_xsm_price .rpt_plan .rpt_head .rpt_price {
    font-size: 37px;
    line-height: 53px
}

.rpt_5_plans .rpt_xxsm_price .rpt_plan .rpt_head .rpt_price {
    font-size: 24px;
    line-height: 50px
}

.rpt_plans .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 98px
}

.rpt_4_plans .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 74px
}

.rpt_5_plans .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 67px
}

.rpt_plans .rpt_sm_price .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 83px
}

.rpt_4_plans .rpt_sm_price .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 60px
}

.rpt_5_plans .rpt_sm_price .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 54px
}

.rpt_plans .rpt_xsm_price .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 55px
}

.rpt_4_plans .rpt_xsm_price .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 49px
}

.rpt_5_plans .rpt_xsm_price .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 41px
}

.rpt_plans .rpt_xxsm_price .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 42px
}

.rpt_4_plans .rpt_xxsm_price .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 34px
}

.rpt_5_plans .rpt_xxsm_price .rpt_recommended_plan .rpt_head .rpt_price {
    font-size: 26px
}

.rpt_plans .rpt_plan .rpt_head .rpt_recurrence {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    padding: 20px 40px 10px;
    color: #d3d3d3;
    text-align: center
}

.rpt_style_spec .rpt_plan .rpt_head .rpt_recurrence {
    color: #d3d3d3
}

.rpt_style_bic .rpt_plan .rpt_head .rpt_recurrence, .rpt_style_loc .rpt_plan .rpt_head .rpt_recurrence {
    color: #f5f5f5
}

.rpt_style_swl .rpt_plan .rpt_head .rpt_recurrence {
    color: grey
}

.rpt_plans .rpt_sm_recurrence .rpt_plan .rpt_head .rpt_recurrence {
    font-size: 11px;
    padding: 20px 40px 4px
}

.rpt_plans .rpt_plan .rpt_head .rpt_subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    padding: 10px 30px 20px
}

.rpt_plans .rpt_sm_subtitle .rpt_plan .rpt_head .rpt_subtitle {
    font-size: 14px
}

.rpt_plans .rpt_xsm_subtitle .rpt_plan .rpt_head .rpt_subtitle {
    font-size: 12px
}

.rpt_4_plans .rpt_plan .rpt_head .rpt_subtitle {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 10px 20px
}

.rpt_4_plans .rpt_sm_subtitle .rpt_plan .rpt_head .rpt_subtitle {
    font-size: 14px;
    line-height: 17px
}

.rpt_4_plans .rpt_xsm_subtitle .rpt_plan .rpt_head .rpt_subtitle {
    font-size: 13px;
    line-height: 16px
}

.rpt_5_plans .rpt_plan .rpt_head .rpt_subtitle {
    font-size: 15px;
    line-height: 18px;
    padding: 10px 10px 20px
}

.rpt_5_plans .rpt_sm_subtitle .rpt_plan .rpt_head .rpt_subtitle {
    font-size: 13px;
    line-height: 17px
}

.rpt_5_plans .rpt_xsm_subtitle .rpt_plan .rpt_head .rpt_subtitle {
    font-size: 12px;
    line-height: 16px
}

.rpt_plans .rpt_plan .rpt_head .rpt_description {
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px 30px;
    font-weight: 300;
    text-align: center;
    color: #fff
}

.rpt_plans .rpt_sm_description .rpt_plan .rpt_head .rpt_description {
    font-size: 12px
}

.rpt_style_bic .rpt_plan .rpt_head .rpt_description, .rpt_style_loc .rpt_plan .rpt_head .rpt_description {
    color: #f5f5f5
}

.rpt_4_plans .rpt_plan .rpt_head .rpt_description {
    font-size: 13px;
    line-height: 18px
}

.rpt_4_plans .rpt_sm_description .rpt_plan .rpt_head .rpt_description {
    font-size: 12px;
    line-height: 17px
}

.rpt_5_plans .rpt_plan .rpt_head .rpt_description {
    font-size: 12px;
    line-height: 18px
}

.rpt_5_plans .rpt_sm_description .rpt_plan .rpt_head .rpt_description {
    font-size: 11px;
    line-height: 17px
}

.rpt_plans .rpt_plan .rpt_features {
    padding: 20px;
    background: #f5f5f5;
    text-align: center
}

.rpt_plans .rpt_plan .rpt_features .rpt_feature {
    font-size: 16px;
    padding: 6px 16px;
    border-bottom: 1px dotted #d3d3d3
}

.rpt_plans .rpt_plan .rpt_features .rpt_feature:last-child {
    border-bottom: none
}

.rpt_plans .rpt_sm_features .rpt_plan .rpt_features .rpt_feature {
    font-size: 14px
}

.rpt_style_bic .rpt_plan .rpt_features, .rpt_style_loc .rpt_plan .rpt_features, .rpt_style_swl .rpt_plan .rpt_features {
    background: #fff
}

.rpt_style_swl .rpt_plan .rpt_features .rpt_feature {
    padding: 5px 16px
}

.rpt_4_plans .rpt_plan .rpt_features .rpt_feature {
    padding: 6px 10px;
    font-size: 14px
}

.rpt_4_plans .rpt_sm_features .rpt_plan .rpt_features .rpt_feature {
    font-size: 12px
}

.rpt_5_plans .rpt_plan .rpt_features .rpt_feature {
    padding: 6px 10px;
    font-size: 13px
}

.rpt_5_plans .rpt_sm_features .rpt_plan .rpt_features .rpt_feature {
    font-size: 11px
}

.rpt_plans .rpt_plan .rpt_foot {
    display: block;
    padding: 10px 30px;
    border-top: #f5f5f5 solid 2px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: 300;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease
}

.rpt_plans .rpt_sm_button .rpt_plan .rpt_foot {
    font-size: 19px
}

.rpt_style_basic .rpt_plan .rpt_foot {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.rpt_style_swl .rpt_plan .rpt_foot {
    border-top: none;
    padding: 10px 30px 20px;
    color: #000;
    background: #333
}

.rpt_4_plans .rpt_plan .rpt_foot {
    padding: 4px 20px;
    font-size: 19px
}

.rpt_4_plans .rpt_sm_button .rpt_plan .rpt_foot, .rpt_5_plans .rpt_plan .rpt_foot {
    padding: 4px 20px;
    font-size: 17px
}

.rpt_5_plans .rpt_sm_button .rpt_plan .rpt_foot {
    font-size: 16px
}

.rpt_plans .rpt_plan .rpt_foot:hover {
    opacity: .8
}

.rpt_style_swl .rpt_plan .rpt_foot:hover {
    opacity: 1
}

.rpt_plans .rpt_recommended_plan .rpt_foot {
    font-size: 30px;
    padding: 16px 0
}

.rpt_plans .rpt_sm_button .rpt_recommended_plan .rpt_foot {
    font-size: 26px
}

.rpt_4_plans .rpt_recommended_plan .rpt_foot {
    font-size: 22px;
    font-weight: 300;
    padding: 10px 0
}

.rpt_4_plans .rpt_sm_button .rpt_recommended_plan .rpt_foot {
    font-size: 19px;
    padding: 10px 0
}

.rpt_5_plans .rpt_recommended_plan .rpt_foot {
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0
}

.rpt_5_plans .rpt_sm_button .rpt_recommended_plan .rpt_foot {
    font-size: 18px;
    padding: 10px 0
}

.rpt_custom_btn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding: 16px 20px
}

.rpt_plans .rpt_recommended_plan {
    position: relative;
    top: -10px
}

.rpt_recommended_plan img.rpt_recommended {
    position: absolute !important;
    right: 10px !important
}

.rpt_style_bic .rpt_recommended_plan, .rpt_style_loc .rpt_recommended_plan {
    -webkit-box-shadow: 1px 1px 6px 0 rgba(50, 50, 50, .39);
    -moz-box-shadow: 1px 1px 6px 0 rgba(50, 50, 50, .39);
    box-shadow: 1px 1px 6px 0 rgba(50, 50, 50, .39)
}

a.rpt_tooltip {
    display: block;
    outline: 0;
    position: relative
}

a.rpt_tooltip strong {
    line-height: 30px
}

a.rpt_tooltip > span.intool {
    width: 90%;
    padding: 10px;
    margin-top: 56px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    position: absolute;
    top: -15px;
    display: block;
    color: #f5f5f5;
    font-size: 13px;
    line-height: 20px;
    background: #333;
    font-weight: 300;
    text-align: center
}

a.rpt_tooltip:hover {
    cursor: zoom-in
}

a.rpt_tooltip .rpt_tooltip_plus {
    text-decoration: none !important;
    display: inline;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: -6px
}

.rpt_feature:hover a.rpt_tooltip > span.intool {
    opacity: .98;
    text-decoration: none;
    visibility: visible;
    overflow: visible
}

a.rpt_tooltip span.intool b {
    width: 10px;
    height: 10px;
    margin-left: 35%;
    margin-top: -15px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: none \0/;
    background: #333
}

.rpt_3_plans a.rpt_tooltip > span.intool {
    margin-left: -1%
}

.rpt_4_plans a.rpt_tooltip > span.intool {
    margin-left: 0
}

.rpt_5_plans a.rpt_tooltip > span.intool {
    margin-left: -2%
}

.entry-content .rpt_plan a, .rpt_plan a {
    border-bottom: none !important
}

.rpt_plans .rpt_plan .rpt_icon {
    max-width: 30px;
    max-height: 30px
}

.rpt_plans .rpt_plan img {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    border: none
}

@media only screen and (max-width: 640px) {
    .rpt_plans .rpt_plan {
        width: 96%;
        margin: 10px 2% 20px !important
    }

    .rpt_plans .rpt_plan .rpt_title {
        position: relative;
        font-size: 26px !important;
        line-height: 35px !important
    }

    .rpt_plans .rpt_plan .rpt_head .rpt_price {
        font-size: 74px !important;
        line-height: 100px !important
    }

    .rpt_plans .rpt_plan .rpt_head .rpt_subtitle {
        font-size: 17px !important;
        line-height: 28px !important;
        padding: 10px 40px 20px
    }

    .rpt_plans .rpt_plan .rpt_head .rpt_description {
        font-size: 15px !important;
        line-height: 26px !important;
        padding: 0 40px 30px
    }

    .rpt_plans .rpt_plan .rpt_features .rpt_feature {
        padding: 6px 16px;
        font-size: 14px !important
    }

    .rpt_plans .rpt_plan .rpt_foot {
        padding: 10px 40px;
        text-align: center;
        color: #fff;
        font-size: 20px
    }

    .rpt_plans .rpt_recommended_plan .rpt_foot {
        font-size: 30px;
        font-weight: 300;
        padding: 20px 0
    }

    .rpt_plan .rpt_head .rpt_price .rpt_currency {
        top: -36px !important;
        left: -10px !important;
        font-size: 35px !important
    }
}

#rpt_pricr .rpt_plan_ori .rpt_features .rpt_feature, #rpt_pricr .rpt_plan_ori .rpt_features .rpt_feature a, #rpt_pricr .rpt_plan_ori .rpt_foot, #rpt_pricr .rpt_plan_ori .rpt_head .rpt_description, #rpt_pricr .rpt_plan_ori .rpt_head .rpt_price, #rpt_pricr .rpt_plan_ori .rpt_head .rpt_price .rpt_currency, #rpt_pricr .rpt_plan_ori .rpt_head .rpt_recurrence, #rpt_pricr .rpt_plan_ori .rpt_head .rpt_subtitle, #rpt_pricr .rpt_plan_ori .rpt_title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: 300 !important
}

p.udner-title strong {
    font-size: 40px;
    padding-bottom: 30px;
    display: block;
    color: #b97fcf
}
.channels-selected-list li {
    display: block;
    max-width: 640px;
    padding: 15px;
    background: #EFF6F6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.chaty-settings a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    margin-left: 5px;
    height: 26px;
    width: 26px;
    background: #4ec1c4;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.chaty-settings a .dashicons, .chaty-settings a .dashicons-before:before {
    font-size: 16px;
    line-height: 26px;
    display: block;
    margin: 0;
    width: 100%;
}
.move-icon {
    display: inline-block;
    vertical-align: middle;
}
.move-icon img {
    width: 10px;
    margin-right: 5px;
    margin-top: 8px;
    cursor: move;
}
.chaty-default-settings > * {
    display: inline-block;
    vertical-align: middle;
}
.chaty-default-settings > .chaty-settings {
    display: none; /* //! */
}
.chaty-default-settings {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 15px;
}
.chaty-advance-settings {
    width: 100%;
    border: solid 1px #a785cb;
    margin: 20px 0 0 0;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f2f2f2;
    display: none;
    min-height: 70px;
    position: relative;
}
.chaty-setting-col > * {
    display: inline-block;
    padding: 0 0 10px 0;
    vertical-align: middle;
}
.chaty-setting-col > label {
    width: 150px;
}
.chaty-setting-col .channels__view {
    margin: 0;
    padding: 0;
}
.chaty-setting-col input[type='text'] {
    width: 310px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sp-replacer.sp-light {
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}
.chaty-setting-col a.upload-chaty-icon {
    background: #4ec1c4;
    color: #fff;
    text-decoration: none;
    line-height: 36px;
    padding: 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}
.chaty-setting-col a.upload-chaty-icon span {
    line-height: 40px;
}
.chaty-setting-col input[type='text'].chaty-color-field {
    width: 40px;
}
.chaty-setting-col input[type='text']:read-only {
    background: #fff;
}
.chaty-pro-feature {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 0;
    height: 100%;
    vertical-align: middle;
    display: none;
    background: rgba(255,255,255,0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* //! .chaty-advance-settings:hover .chaty-pro-feature {
    display: inline-block;
}
.chaty-advance-settings:hover .chaty-setting-col {
    filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
} */
.chaty-pro-feature a {
    text-decoration: none;
    background: #4ec1c4;
    color: #fff;
    padding: 0px 10px;
    line-height: 36px;
    display: inline-block;
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    width: 180px;
    margin: -20px auto 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chaty-pro-feature a:hover {
    background: #4ec1c4;
}
a#upload_qr_code {
    background: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
a#upload_qr_code span {
    line-height: 36px;
}
.cls-btn-settings, .close-btn-set {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.cls-btn-settings.active, .close-btn-set.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.chaty-settings.cls-btn {
    margin-left: 42px;
}
.section2 {
    padding: 25px 15px 30px;
    border-top: 2px solid rgba(130, 130, 130, .1);
}
#chaty-social-close {
    display: none;
}
#chaty-social-Facebook_Messenger .chaty-default-settings {
    padding-bottom: 25px;
}
ul#channels-selected-list {
    margin: 0;
    padding: 0;
}
.channels-selected-list li.ui-chaty-state-hl {
    border: dashed 1px #6972da;
    min-height: 95px;
}
.viber-help {
    position: absolute;
    right: 43px;
    bottom: -4px;
    font-size: 12px;
    color: #665cac;
    text-decoration: underline;
    cursor: pointer;
}
.viber-help span {
    position: absolute;
    width: 210px;
    left: -80%;
    text-align: center;
    background: #000;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    bottom: 20px;
    z-index: 101;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: none;
}
.viber-help:hover span {
    display: block;
}
a.create-rule {
    background: #4ec1c4;
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chaty-settings.cls-btn span {
    padding-left: 2px;
}
.rpt_description.title-text {
    padding: 25px 0 0 !important;
}
.chaty-page-option {
    padding: 5px;
    background: #f6f3fa;
    margin-bottom: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
.url-select {
    width: 17%;
    display: inline-block;
    padding-right: 5px;
}
.url-content > * {
    vertical-align: middle;
}
.url-option {
    width: 20%;
    display: inline-block;
    padding-right: 5px;
}
.url-box {
    width: 25%;
    display: inline-block;
    padding-right: 0px;
    text-align: right;
}
.url-values {
    width: calc(37% - 46px);
    display: inline-block;
    padding-right: 5px;
}
.url-buttons {
    width: 36px;
    display: inline-block;
}
span.chaty-url {
    font-size: 12px;
    line-height: 12px;
}
.url-content .remove-chaty {
    background: #bd2a00;
    text-align: center;
    display: block;
    line-height: 36px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.url-content select, .url-content input {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* //! .chaty-option-box .page-options:hover .chaty-page-option {
    filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
} */
.page-options {
    position: relative;
    display: none;
}
.chaty-option-box .page-options:hover .chaty-pro-feature {
    display: block;
}
.preview {
    position: fixed;
    top: 190px;
    width: 337px;
    height: 290px;
    bottom: auto;
}
.preview-section-chaty {
    position: static;
    width: 352px;
    height: 320px;
    display: block;
    vertical-align: baseline;
    float: right;
}